@charset "UTF-8";

/* Typical device breaking points
    
    pequenas telas: até 480px
    Celular: 481px até 768px
    tablet: 768px até 1024px
    desktop: 1025px até 1200px
    grandes telas: acima de 1021px

*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(63, 63, 62));
    }
    section#login {
        width: 90vw;
        display: flex;
        
    }

    section#login > div#img{
        width: 40%;
        height: 100%;
        
        
    }
    #login > div#form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60vw;
    }
    form > input[type=submit]{
        width: 100%;
    }

    form > a.botao{
        width: 100%;
        
    }
    }

@media screen and (min-width: 1024px) {
    body{

         background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(63, 63, 62));
    }
    section#login {
        
        width: 90% ;
        
        
    }

    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
       
    }

    section#login > div#form{
        float: left;
        width: 50%;
        margin-top: 100px;
    }

    div#form > h1{
        font-size: 2em;
    }

    div#form > p{
        text-align: center;
        font-size: 1.2em;
    }

    form > input[type=submit]{
        width: 35%;

}
    form > a.botao{
    width: 35%;
    margin: auto;
    margin-top: 5px;

    
}


   

}