@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(63, 63, 62));
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

section#login{
    background-color: white;
    width: 280px;
    height: 530px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

section#login > div#img{
    display: block;
    background: rgb(20, 20, 20) url(../imagens/vitoricorp.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    
}

#login > #form{
    width: 50vw ;
    text-align: center;
    padding: 10px;
}

div#form > h1{
    text-align: center;  
    margin: 10px;
}

div#form > p{
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
    
}

form > div#campo{
    height: 40px;
    
}

form label{
    display: none;
    
}

div.campo > span{
    color: black;
    font-size: 1.9em;
    width: 30px;
}

div.campo > input{
    border-radius: 3px;
    height: 100%;
    padding: 4px;
    outline: none;
    transform: translateY(-9px);
    border: none;
    
}

form > input[type=submit]{
    font-size: 1em;
    font-weight: normal;
    width: 100%;
    height: 40px;
    background-color: rgb(49, 47, 47);
    color: white;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    margin-top: 6px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: gray;
    color: black;
    font-weight: 400;
    transition: ease .4s;
}

form > a.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-size: .9em;
    font-weight: 400;
    font-weight: normal;
    width: 100%;
    height: 33px;
    background-color: rgba(73, 70, 70, 0.336);
    border-radius: 6px;
    text-decoration: none;
    color: black;
    

}

form > .botao:hover{
    background-color: gray;
    color: black;
    font-weight: 400;
    transition: ease .4s;
    
}

form > a.botao > span {
    font-size: 1.1em;
    padding: 8px;

}
footer{
    font-size: 0.7em;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

footer > a{
    text-decoration: none;
    font-weight: 400;
    color: rgb(17, 17, 17);
    cursor: pointer;
}

footer > a:hover{
    color: rgb(14, 13, 13);
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.5s;
}